# Python cache files
__pycache__/
*.pyc

# Virtual environment
venv/

# Dataset and model files
*.pkl
!backend/model.pkl
*.sqlite
*.zip

# IDE/editor directories
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
